  
 

 
 .inter-sans {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  /* nav section start here */
  body{
    background-color: black;
    max-width: 100%;
    margin-left: 0;

}
.nav-fit{
    color: red;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    padding-left: 10px;
}
.nav-other{
    width: 500px;   
}
.menu{
   width: 30px;
   height: 5px; 
   background-color: white;
   margin: 5px 0;
}
.nav-other ul{
  
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    font-size: 24px;
    height: 35px;
    align-items: center;
}
.nav-other ul a{
    text-decoration: none;
    color: white;
    /* justify-content: space-around; */
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1020px;
    /* border: 2px solid palevioletred; */
    align-items: center;
}
.nav-other .btn{
    width: 80px;
    height: 35px;
    border-radius: 20px;
    padding-top: 5px;
    background-color: rgb(255, 136, 93);
    text-align: center;
}

/* nav section closed here */


/* container-box start */
 
.container-box{
    display: flex;
    margin: 30px auto;
    /* border: 2px solid greenyellow; */
    justify-content: space-around;
    align-items: center;
    
}

.nav-container-1 p{
    font-size: 85px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px
}
.nav-container-1{
    width: 580px;
    height: auto;
    /* border: 2px solid red; */
    margin-left: 200px;
}
.nav-container-1 .description{
    font-size: 1.4rem;
}
.button{
    width: 200px;
    height: 50px;
    background-color: #E6533C;
    color: white;
    font-size: 20px;
    border-radius: 27px;
    opacity: 95%;
}
#download{
    width: 200px;
    height: 50px;
    background-color: rgba(32, 31, 31, 0.432);
    color: white;
    font-size: 20px;
    border-radius: 27px;
    border: 0.5px solid white;
    opacity: 95%;
}



.nav-container-2{
    width: 350px;
    height: 600px;
    /* border: 2px solid pink; */
    margin-right: 200px;
    background-image: url(../images/Images\ 2.png);
    /* display: flex; */
    position: relative;
 

}

/* tutorial start here */
 .circle{
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    
} 
  .video{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 170px;
    height: 80px;
    position: absolute;
    bottom: -480px;
    color: white;
   background-color: #303030;
   opacity: 90%;
   border-radius: 10px;
}  
.h h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
 }  
 .h h5{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
} 
.h{
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
    margin-top: 10px;
 } 

/* tutorial over here  */

.nav-container-2 .button2{
    /* position:absolute; */
    top: 280px;
    right: 300px;
    background-color: #303030;
    width: 150px;
    opacity: 90%;
    text-align: center;
    padding-top: 5px;
    /* padding-bottom: 1px; */
    border-radius: 10px;

} 
 .button2 h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
} 
 .button2  h5{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}  
.buttons{
    display: flex;
    position: relative;
}
.audio{
    position: absolute;
    top: 130px;
    right: 0px;
    color: white;    
}

/* habit section start  */

.habits{
    /* border: 1px solid palevioletred; */
    max-width: 1050px;
    height: 500px;
    margin: 50px auto;

}

.change-habit{
    width: 700px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.change-habit h1{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.change-habit .describe{
    color: rgba(255, 255, 255, 0.50);
    font-size:.9rem;
    text-align: center;
}
/* cart box styles */

.cart-box{
    max-width: 1060px;
    /* height: 300px; */
    /* border: 2px solid aqua; */
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    margin-left: 0px;
}
.carts{
    display: flex;
    gap: 30px;
    /* margin-left: 10px; */
}
.cart-box .cart1{
    height: 270;
    width: 230px;
    /* border: 1px solid yellow; */
}
.cart1 img{
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 10%;
}
.cart1 h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}
.cart1 .explain{
    color: rgba(255, 255, 255, 0.50);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}



.cart-box .cart2{
    height: 270;
    width: 230px;
    /* border: 1px solid yellow; */
}
.cart2 img{
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 10%;
}
.cart2 h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}
.cart2 .explain{
    color: rgba(255, 255, 255, 0.50);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}




.cart-box .cart3{
    height: 270;
    width: 230px;
    /* border: 1px solid yellow; */
}
.cart1 img{
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 10%;
}
.cart3 h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}
.cart3 .explain{
    color: rgba(255, 255, 255, 0.50);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}




.cart-box .cart4{
    height: 270;
    width: 230px;
    /* border: 1px solid yellow; */
}
.cart4 img{
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 10%;
}
.cart4 h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}
.cart4 .explain{
    color: rgba(255, 255, 255, 0.50);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}

/* carts closed here  */

.run{
    max-width: 1060px;
    background-color: #4444443d;
    height: auto;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 10px;
}


.run-container{
    max-width: 100%;
    height: 400px;
    margin: 10px auto;
    /* border: 2px solid rgb(218, 5, 247); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
}

.words{
    width: 500px;
    height:270px;
    margin-left: 5px;
}
.words h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-top: 5px;
    margin-bottom: 25px;
}
.words p{
    font-size: .9rem;
    color:rgba(255, 255, 255, 0.50);
    font-weight: 400;
    
}
.words button{
    margin-top: 30px;
}

.image img{
    width: 100%;
    height: 290px;
    margin-top: 5px;
    border-radius: 15px;
}
.title{
    height: 500px;
    width: 1440px;
    border: 2px solid white;
    color: white;
    margin: 0 auto;
}


/* BMI start here  */
#three{
    width:100%;
    border: 2px solid red;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1.00);
    /* display: flex; */
}
.form-container{
 display: flex;
 justify-content: space-evenly;
}

.bmi{
    max-width: 700px;
    margin: 20px auto;
    border: 2px solid white;
}
.bmi h1{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
.bmi p{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.cal-one h1{
    color: white;
}
.bmi-table{
    border: 2px solid white;
    height: 300px;
    width: 450px;
    border-collapse: collapse;
}

.head th{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.50);
    /* margin: 0 auto; */
    padding: 5px 10px;

}
tbody td{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.50) ;
    padding: 5px 10px;
    
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.50);   
}

/* form section  */
.table-two{
    max-width: 600px;
    border: 2px solid aqua;
}

.calculate{
    max-width: 580px;
    border: 2px solid red;
}
.calculate h2{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.calculate p{
    color: rgba(255, 255, 255, 0.50);
}


table,td{
    border: 1px solid white;
    border-collapse: collapse;
}
#option{
    background-color: rgba(34, 34, 34, 1.00);
    color:rgb(179, 171, 171) ;
    border: none;
   
}
/* imgcontainer start here  */

.team{
    max-width: 700px;
    margin: 10px auto;
    text-align: center;

}
.team h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.team p{
    color:rgba(255, 255, 255, 0.50) ;
    font-size: .9rem;
    /* margin-bottom: 40px; */
}

.img-container{
    max-width: 1060px;
    margin: 0 auto;
    gap: 15px;
    /* display: none; */
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.imgbox1{
  background-image: url(../images/trainer1.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  margin: 10px 10px;
  color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.20);
}
.paper h3{
    margin: 0px auto;
    margin-bottom: 0px;
}
.paper p{
    margin-top: 0px;
    color:rgba(255, 255, 255, 0.50) ;
}
.paper{
    margin-left: 10px;
    position: absolute;
    bottom:10px;
}
/* box2 here  */


.imgbox2{
  background-image: url(../images/trainer2.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  margin: 10px 10px;
  color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.20);
}

/* box3 here  */


.imgbox3{
    background-image: url(../images/trainer3.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 10px 10px;
    color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.20);
}

.imgbox4{
    background-image: url(../images/trainer4.png);
    background-position: 20%;
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin: 0 10px;
    color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.20);
}
.imgbox5{
  background-image: url(../images/trainer5.png);
  width:100%;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px;
  color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.20);
}
.imgbox6{
  background-image: url(../images/trainer6.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px;
  color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.20);
}

/* boxes closed here  */
.footer-main{
    max-width: 1060px;
    height: 300px;
    border: 2px solid red;
}

footer{
    width: 100%;
    height: 600px;
    border: 2px solid red;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fitness{
    width: 100%;
    height: auto;
}
.fitness h1{
    color: red;
    font-style: italic;
    font-weight: 800;
    font-size: 3rem;
    padding-left: 10px;
}
.fitness p{
    font-size: .9rem;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.50) ;
}
@media screen and (max-width:576px) {
    .nav-other ul a{
        display: none;
        margin: 0 end;
    }
    .btn{
        display: none;
    }
    .nav-container{
        width: 80%;
        margin: 0 auto;
        /* padding-left: 100px; */
    }
   .icon{
    padding-left: 80%;
   }

   /* buttons start here */
  .container-box{
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav-container-1{
    width: 100%;
    margin: 0 auto;
  }
.nav-container-2{
    margin: 0 auto;
    margin-top: 10px;
}
/* cartboxes */

 .habits{
    width: 90%;
    margin: 20px auto;
 } 
 .cart-box{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 1060px; */
    width: 520px;
    margin: 0 auto;
    /* height: auto; */
 }
  .carts{
    margin: 0px auto; 
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .change-habit{
    width: 100%;
    margin: 0 auto;
  }
  .change-habit h1{
    margin-bottom: 10px;
    margin-top: 10px;
  } 
.cart1{
    width: 100%;
    margin: 10px auto;
  }
  .cart2{
    margin: 10px auto;
    width: 100%;
  }
  .cart3{
    margin: 10px auto;
    width: 100%;
  }
  .cart4{
   margin: 10px auto;
    width: 100%;
  }

 #two .run{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .run-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
  }

}

@media screen and (min-width:576px) and (max-width:2200px) {
    .icon{
        display: none;
    }
}